<p>Surgery Title: <%=@surgery.title%></p>
<p> Day of Week:<%=@surgery.day_of_week%></p>
<p>Operating Room:<%=@surgery.operating_room_number%></p>

<h1> Doctors Performing Surgery: </h1>
<% @doctors.each do |doctor|%>
<p> Doctor:<%=doctor.name%></p>
<p> Years Practiced:<%=doctor.years_practiced%></p>
<%end%>

<h1> Most Experienced Doctor: </h1>
  <section id="mostexperienced-">
    <p> Doctor: <%= @surgery.most_experienced.name%> <br>
    Years Practiced:<%= @surgery.most_experienced.years_practiced%></p>
  </section>

<h1> Least Experienced Doctor: </h1>
  <section id="leastexperienced-">
    <p> Doctor: <%= @surgery.least_experienced.name%> <br>
    Years Practiced:<%= @surgery.least_experienced.years_practiced%></p>
  </section>
